{% extends 'base.html' %}

{% block title %}Hello Page - First module{% endblock %}

{% block heading %}Hello Page - First module{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-12 text-center">
        <p class="display-5">You are at the <b>hello</b> page in the <b>first</b> module</p>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-12 text-center">
        {% if message %}
        {{ message|safe }}
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col-12 text-center">
        <p>This hello.html page from the first module. Called from the view/function.</p>
    </div>
</div>


{% endblock %}