{% extends 'base.html' %}

{% block title %}First Module{% endblock %}

{% block heading %}First Module{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-12 text-center">
        <p class="display-5">You are in the first module</p>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-12 text-center">
        {% if message %}
        {{ message|safe }}
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col-12 text-center">
        <p>This home.html page from the first module.</p>
    </div>
</div>


{% endblock %}