{% extends 'base.html' %}

{% block title %}Home Page - Root{% endblock %}

{% block heading %}Home Page - Root{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-12 text-center">
        <p class="display-5">You are at the home page - app()</p>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-12 text-center">
        {% if message %}
        {{ message }}
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col-6">
        <p>List of stuff to call in different modules</p>
        <div class="list-group">
            <a href="{{ url_for('first.hello') }}" class="list-group-item list-group-item-action">hello in <b>first</b> module</a>
            <a href="{{ url_for('second.hello') }}" class="list-group-item list-group-item-action">image from <b>second</b> module</a>
            <a href="{{ url_for('third.hello') }}" class="list-group-item list-group-item-action">database list from <b>third</b> module</a>
            <a href="{{ url_for('fourth.hello') }}" class="list-group-item list-group-item-action">another database list from <b>fourth</b> module</a>
            <a href="{{ url_for('fifth.hello') }}" class="list-group-item list-group-item-action">Data form from <b>fifth</b> module</a>
            <a href="#" class="list-group-item list-group-item-action">Login form from <b>sixth</b> module</a>
        </div>
    </div>
    <div class="col-6">
        <div class="list-group">
        <p>Home pages...</p>
            <a href="{{ url_for('first.home') }}" class="list-group-item list-group-item-action">home page of <b>first</b> module</a>
            <a href="{{ url_for('second.home') }}" class="list-group-item list-group-item-action">home page of <b>second</b> module</a>
            <a href="{{ url_for('third.home') }}" class="list-group-item list-group-item-action">home page of <b>third</b> module</a>
            <a href="{{ url_for('fourth.home') }}" class="list-group-item list-group-item-action">home page of <b>fourth</b> module</a>
            <a href="{{ url_for('fifth.home') }}" class="list-group-item list-group-item-action">home page of <b>fifth</b> module</a>
            <a href="#" class="list-group-item list-group-item-action">home page of <b>sixth</b> module</a>
        </div>
    </div>
</div>


{% endblock %}