{% extends 'base.html' %}

{% block title %}Home Page - Third module{% endblock %}

{% block heading %}Home Page - Third module{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-12 text-center">
        <p class="display-5">You are at the home page - <b>THIRD</b> module</p>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-12 text-center">
        {% if message %}
        {{ message|safe }}
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col-12 text-center">
        <p>This home.html page from the <b>THIRD</b> module. <br>And we're displaying data from a database</p>
    </div>
</div>

{% endblock %}